html,
body,
main {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media {
    body {
        padding: 10px;
        box-sizing: border-box;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#io {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#io>div {
    width: 50%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

#io>div>div {
    display: flex;
    flex-direction: row;
}

#io div canvas {
    width: 400px;
    height: 320px;
}

#coord,
#status {
    color: grey;
    font-size: 10px;
    height: 15px
}

#control {
    margin-top: 1em;
}

#control label {
    font-weight: bold;
    margin-right: 1em;
}

#control select {
    padding: 0.25em 0.5em;
}

footer {
    margin-top: 2em;
    font-size: 12px;
    text-align: center;
}

.hide {
    visibility: hidden;
    height: 0px;
}